{% load staticfiles %}

<html>
<head>
    <title>911</title>
    <link rel="stylesheet" href="{% static 's911/main.css' %}">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
    <style>
        html, body {width:100%; height:100%; padding: 0; margin: 0;}
        #cartodb-map { margin-left:10%; margin-left:10%; width: 80%; height:60%; background: black;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>
            var map;
            function init(){
                // initiate leaflet map
                map = new L.Map('cartodb-map', { 
                    center: [47.608350400000,-122.339346000000],
                    zoom: 10
                })//end new L.Map

                L.tileLayer('https://dnv9my2eseobd.cloudfront.net/v3/cartodb.map-4xtxp73f/{z}/{x}/{y}.png', {
                    attribution: 'Mapbox <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>'
                }).addTo(map);

                var layerUrl = 'https://dvass1994.cartodb.com/api/v2_1/viz/a54110f8-12b7-11e5-aae5-0e0c41326911/viz.json';

                // change the query for the first layer
                var subLayerOptions = {
                    sql: "SELECT * FROM incident",
                    cartocss: "#incident{marker-fill: #109DCD; marker-width: 5; marker-line-color: white; marker-line-width: 0;}",
                }
            
                cartodb.createLayer(map, layerUrl)
                    .addTo(map)
                    .on('done', function(layer) {

                    var sublayer = layer.getSubLayer(0);
                    sublayer.setInteractivity('description, cartodb_id, cad_event_number, id')
                    sublayer.set(subLayerOptions);
                    // sublayer.infowindow.set('template', $('#infowindow_template').html());
                    sublayer.on('featureClick', function(e, latlng, pos, data) {
                        console.log(data.description);
                        $.ajax({
                        type: "GET",
                        url: "/timeline",
                        data: {'id':data.id},
                        success: function(json){
                            console.log(json);
                            var posts = "";

                            for (i in json['posts']) {
                                console.log(json['posts'][i]);
                                posts += ("<p><a href='"+ json['posts'][i]['post_url'] + "'>" + json['posts'][i]['location_name'] + "   " + json['posts'][i]['created_time'] + "</a></p>");
                                posts += ("<img class='instagram_image' src='" + json['posts'][i]['image_url'] + "'>")
                            };
                            $("#timeline").html(
                                "<h3>" + json['incident']['description'] + "</h3>" + "<h4>" + json['incident']['location_name'] + "</h4><h5>" + json['incident']['clearance_date'] + "</h5><p> </p>" + posts
                                )
                        }
                    })
              });
            }).on('error', function() {
            });
    }  
  </script>

</head>
<body  onload="init()">

    <div id="header">
    <h1> Seattle 911 Meets Social Media </h1>
    </div>
<!--     <p><a href = '/seed'>Seed</a></p>
    <p><a href = '/cartodb/incident'>Carto DB Incident</a></p>
    <p><a href = '/cartodb/instagrampost'>Carto DB Instagram Post</a></p>
 -->
    <div id='map'>
    <div id='cartodb-map'></div>
    </div>
    <div id='timeline'></div>

</body>
</html>






